<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/appointment.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Appointment</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Select Date below to view and add Appointment Slots.</p>

                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-5 text-center">
                        <!-- Date Picker -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="appointmentDate" type="date" name="appointmentDate" value="<%= appointmentDate %>" required>
                            <label for="appointmentDate">Select Date</label>
                        </div>

                        <br />
                        
                        <form method="post" action="/addAppointment">
                            <input type="hidden" name="date" value="<%= appointmentDate %>">
                            <% appointmentsMap.forEach(slot => { %>
                                <button class="btn <%= slot.isBooked ? 'btn-danger' : 'btn-warning' %> text-uppercase mb-2" type="submit" name="time" value="<%= slot.time %>" <%= slot.isTimeSlotAvailable ? 'disabled' : '' %>>
                                    <%= slot.time %>
                                </button>
                            <% }); %>
                        </form>
                    </div>

                    <div class="my-5">
                        <h3 class="text-center">Candidate Lists</h3>
                        <!-- List of Passed Candidates -->
                        <div class="post-preview">
                            <p class="post-meta">Passed Candidates:</p>
                            <ul class="list-group mt-4">
                                <% passCandidates.forEach(candidate => { %>
                                    <li class="list-group-item">
                                        <strong>Name:</strong> <%= candidate.firstName %> <%= candidate.lastName %>
                                    </li>
                                <% }) %>
                            </ul>

                            <br /><hr>
    
                            <!-- List of Failed Candidates -->
                            <p class="post-meta">Failed Candidates:</p>
                            <ul class="list-group mt-4">
                                <% failCandidates.forEach(candidate => { %>
                                    <li class="list-group-item">
                                        <strong>Name:</strong> <%= candidate.firstName %> <%= candidate.lastName %>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    <script>
        $(document).ready(function() {
            $('#appointmentDate').on('change', function() {
                const selectedDate = this.value;
                window.location.href = `/appointment?date=${selectedDate}`;
            });
        });
    </script>
</body>
</html>