<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/appointment.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Appointment</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Available Appointment Slots for <b><%= formattedDate %></b></p>

                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-5">
                        <form method="post" action="/addAppointment">
                            <input type="hidden" name="date" value="<%= appointmentDate %>">
                            <% appointmentsMap.forEach(slot => { %>
                                <button class="btn btn-warning text-uppercase mb-2" type="submit" name="time" value="<%= slot.time %>" <%= slot.isTimeSlotAvailable ? '' : 'disabled' %>>
                                    <%= slot.time %>
                                </button>
                            <% }); %>
                        </form>
                    </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>