<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/examiner.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Examiner</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Filter user by test type.</p>

                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-5 text-center">
                        <!-- Filter by Test Type -->
                         <div class="form-floating">
                            <select class="form-select" name="testType" id="testType">
                                <option value="G" <%= testType === 'G' ? 'selected' : '' %>>G</option>
                                <option value="G2" <%= testType === 'G2' ? 'selected' : '' %>>G2</option>
                            </select>
                            <label for="testType">Test Type</label>
                         </div>

                         <br />
                        
                        <!-- User's who have appointments -->
                         <p class="post-meta">Booked Appointments</p>
                        <ul class="list-group mt-4">
                            <% drivers.forEach(user => { %>
                                <li class="list-group-item">
                                    <strong>Name:</strong> <%= user.firstName %> <%= user.lastName %> <br>
                                    <strong>Car Model:</strong> <%= user.carDetails.model %> <br>
                                    <strong>Appointment Date:</strong> <%= user.appointmentId.date.toDateString() %> <br>
                                    <strong>Appointment Time:</strong> <%= user.appointmentId.time %> <br>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    <script>
        $(document).ready(function() {
            $('#testType').on('change', function() {
                const selectedTestType = this.value;
                window.location.href = `/examiner?testType=${selectedTestType}`;
            });
        });
    </script>
</body>
</html>