<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/examiner.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Examiner</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Filter user by test type.</p>

                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-5 text-center">
                        <!-- Filter by Test Type -->
                         <div class="form-floating">
                            <select class="form-select" name="testType" id="testType">
                                <option value="G" <%= testType === 'G' ? 'selected' : '' %>>G</option>
                                <option value="G2" <%= testType === 'G2' ? 'selected' : '' %>>G2</option>
                            </select>
                            <label for="testType">Test Type</label>
                         </div>

                         <br />
                        
                        <!-- User's who have appointments -->
                         <p class="post-meta">Booked Appointments</p>
                        <ul class="list-group mt-4">
                            <% drivers.forEach(driver => { %>
                                <li class="list-group-item">
                                    <strong>Name:</strong> <%= driver.firstName %> <%= driver.lastName %> <br>
                                    <strong>Car:</strong> <%= driver.carDetails.company %> <%= driver.carDetails.model %> <br>
                                    <strong>Appointment Date:</strong> <%= driver.appointmentId.date.toDateString() %> <br>
                                    <strong>Appointment Time:</strong> <%= driver.appointmentId.time %> <br>

                                     <!-- Form to update test result -->
                                    <form method="post" action="/updateTestResult" class="mt-3">
                                        <div class="form-floating mb-3">
                                            <textarea name="comment" id="comment" class="form-control"><%= driver.comment %></textarea>
                                            <label for="comment">Add Comment for the Driver:</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select name="passFail" id="passFail" class="form-select">
                                                <option value="true" <%= driver.passFail === true ? 'selected' : '' %>>Pass</option>
                                                <option value="false" <%= driver.passFail === false ? 'selected' : '' %>>Fail</option>
                                            </select>
                                            <label for="passFail">Update Pass/Fail Status of Driver:</label>
                                        </div>
                                        <input type="hidden" name="userId" value="<%= driver._id %>">
                                        <button type="submit" class="btn btn-primary text-uppercase" style="width: 100%; height: auto;">Post</button>
                                    </form>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    <script>
        $(document).ready(function() {
            $('#testType').on('change', function() {
                const selectedTestType = this.value;
                window.location.href = `/examiner?testType=${selectedTestType}`;
            });
        });
    </script>
</body>
</html>