<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g2_test.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G2 Test</h1>
                        <span class="subheading">Learn from our mentors for your successful G2 test</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-5">
                        <% if (bookedAppointment) { %>
                            <div class="alert alert-secondary" role="alert">
                                You have booked your <%= user.testType %> appointment on <b><%= bookedAppointment.date.toISOString().split('T')[0] %></b> at <b><%= bookedAppointment.time %></b>.
                            </div>
                        <% } else { %>
                            <!-- Appointment Booking Form -->
                            <form method="post" action="/bookAppointment">
                                <p class="text-center text-uppercase">Book your G2 Test Appointment</p>

                                <!-- Select Date -->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="appointment" name="appointment" type="date" value="<%= selectedDate %>" required>
                                    <label for="appointment">Select Date</label>
                                </div>
                                <div class="row justify-space-between">
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <div class="form-floating mb-3">

                                            <!-- Timeslot Dropdown -->
                                            <select class="form-select" id="time" name="time" required>
                                                <option value="" disabled selected>Select a time slot</option>
                                                <% existingAppointments.forEach(slot => { %>
                                                    <option value="<%= slot._id %>"><%= slot.time %></option>
                                                <% }); %>
                                            </select>
                                            <label for="time">Select Time Slot</label>
                                        </div>
                                    </div>  

                                    <!-- Hidden input to pass test type -->
                                    <input type="hidden" name="test" value="<%= test %>">
                                    
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <button class="btn btn-success btn-block text-uppercase" id="bookAppointment" type="submit" style="width: 100%; height: auto;">Book</button>
                                    </div>                 
                                </div>
                            </form>
                        <% } %>

                        <br /><hr />

                        <% if (isDefaultLicense) { %>
                            <form method="post" action="/updateUserDetails">
                                <p class="text-center text-uppercase">Personal Information</p>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- First Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="firstName" name="firstName" type="text" placeholder="Enter your first name..." required/>
                                            <label for="firstName">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Last Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Enter your last name..." required/>
                                            <label for="lastName">Last Name</label>
                                        </div>
                                    </div>
                                </div>                           
                                <!-- License Number -->
                                <div class="form-floating">
                                    <input class="form-control" id="license" name="license" type="text" placeholder="Enter your license number..." required/>
                                    <label for="license">License Number</label>
                                </div>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Age-->
                                        <div class="form-floating">
                                            <input class="form-control" id="age" name="age" type="number" placeholder="Enter your age..." required/>
                                            <label for="age">Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Date of Birth -->
                                        <div class="form-floating">
                                            <input class="form-control" id="dob" name="dob" type="date" placeholder="Enter your date of birth..." required/>
                                            <label for="dob">Date of Birth</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <br />

                                <p class="text-center text-uppercase">Car Information</p>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Company -->
                                        <div class="form-floating">
                                            <input class="form-control" id="company" name="carDetails[company]" type="text" placeholder="Enter car company..."/>
                                            <label for="company">Company</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Model -->
                                        <div class="form-floating">
                                            <input class="form-control" id="model" name="carDetails[model]" type="text" placeholder="Enter car model..."/>
                                            <label for="model">Model</label>
                                        </div>
                                    </div>
                                </div>      
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Year -->
                                        <div class="form-floating">
                                            <input class="form-control" id="year" name="carDetails[year]" type="text" placeholder="Enter car release year..."/>
                                            <label for="year">Year Released</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Plate Number -->
                                        <div class="form-floating">
                                            <input class="form-control" id="plateNumber" name="carDetails[plateNumber]" type="text" placeholder="Enter car plate number..."/>
                                            <label for="plateNumber">Plate number</label>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="saveButton" type="submit" style="width: 100%; height: auto;">Save</button>
                            </form>
                        <% } else { %>
                            <form method="post" action="/updateUserDetails">
                                <p class="text-center text-uppercase">Personal Information</p>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- First Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="firstNameUpdated" name="firstName" type="text" value="<%= user.firstName %>" required/>
                                            <label for="firstNameUpdated">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Last Name -->
                                        <div class="form-floating">
                                            <input class="form-control" id="lastNameUpdated" name="lastName" type="text" value="<%= user.lastName %>" required/>
                                            <label for="lastNameUpdated">Last Name</label>
                                        </div>
                                    </div>
                                </div>                           
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Age-->
                                        <div class="form-floating">
                                            <input class="form-control" id="ageUpdated" name="age" type="number" value="<%= user.age %>" required/>
                                            <label for="ageUpdated">Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Date of Birth -->
                                        <div class="form-floating">
                                            <input class="form-control" id="dobUpdated" name="dob" type="date" value="<%= user.dob.toISOString().split('T')[0] %>" required/>
                                            <label for="dobUpdated">Date of Birth</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <br />

                                <p class="text-center text-uppercase">Car Information</p>
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Company -->
                                        <div class="form-floating">
                                            <input class="form-control" id="companyUpdated" name="carDetails[company]" type="text" value="<%= user.carDetails.company %>"/>
                                            <label for="companyUpdated">Company</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Model -->
                                        <div class="form-floating">
                                            <input class="form-control" id="modelUpdated" name="carDetails[model]" type="text" value="<%= user.carDetails.model %>"/>
                                            <label for="modelUpdated">Model</label>
                                        </div>
                                    </div>
                                </div>      
                                <div class="row justify-space-between">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Year -->
                                        <div class="form-floating">
                                            <input class="form-control" id="yearUpdated" name="carDetails[year]" type="text" value="<%= user.carDetails.year %>"/>
                                            <label for="yearUpdated">Year Released</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <!-- Plate Number -->
                                        <div class="form-floating">
                                            <input class="form-control" id="plateNumberUpdated" name="carDetails[plateNumber]" type="text" value="<%= user.carDetails.plateNumber %>"/>
                                            <label for="plateNumberUpdated">Plate number</label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="updateButton" type="submit" style="width: 100%; height: auto;">Update</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
    <script>
        $(document).ready(function() {
            $('#appointment').on('change', function() {
                const selectedDate = this.value;
                window.location.href = `/g2?date=${selectedDate}`;
            });
        });
    </script>
</body>
</html>