<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g_test.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G Test</h1>
                        <span class="subheading">Start preparing for your G test today</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h3 class="post-title">Book a G Road Test</h3>
                    
                    <!-- Flash messages -->
                    <%- include('layouts/alertMessage') -%>

                    <div class="my-1">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="post-preview">
                                    <p style="font-size: 0.875em; margin: 0.8rem 0 2.5rem;">Please check/update your information.</p> 
                                    <p class="post-meta"><b>First Name:</b> <%= user.firstName %></p>
                                    <p class="post-meta"><b>Last Name:</b> <%= user.lastName %></p>
                                    <% if (isDefaultLicense) { %>
                                        <p class="post-meta"><b>License No.:</b> LICENSE123</p>
                                    <% } %>
                                    <p class="post-meta"><b>Age:</b> <%= user.age %></p>
                                    <p class="post-meta"><b>Date of Birth:</b> <%= user.dob.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></p>
                                    <hr />
                                    <h4 class="post-title">Car Info</h4>
                                    <form method="post" action="/updateCarDetails" id="carDetailForm">
                                        <div class="row justify-space-between">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <!-- Company -->
                                                <div class="form-floating">
                                                    <input class="form-control" id="company" name="company" type="text" value="<%= user.carDetails.company %>"/>
                                                    <label for="company">Company</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <!-- Model -->
                                                <div class="form-floating">
                                                    <input class="form-control" id="model" name="model" type="text" value="<%= user.carDetails.model %>"/>
                                                    <label for="model">Model</label>
                                                </div>
                                            </div>
                                        </div>      
                                        <div class="row justify-space-between">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <!-- Year -->
                                                <div class="form-floating">
                                                    <input class="form-control" id="year" name="year" type="text" value="<%= user.carDetails.year %>"/>
                                                    <label for="year">Year Released</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <!-- Plate Number -->
                                                <div class="form-floating">
                                                    <input class="form-control" id="plateNumber" name="plateNumber" type="text" value="<%= user.carDetails.plateNumber %>"/>
                                                    <label for="plateNumber">Plate number</label>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <!-- Update Button-->
                                        <button class="btn btn-success text-uppercase" id="updateButton" type="submit" style="width: 100%; height: auto;">Update</button>     
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>