<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header') -%>
<body>
    <%- include('layouts/navbar') -%>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g_test.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>G Test</h1>
                        <span class="subheading">Start preparing for your G test today</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Enter your license number to extract your information</p>
                    <div class="my-5">
                        <form method="get" action="/findUser" id="licenseForm">
                            <!-- License Number -->
                            <div class="form-floating">
                                <input class="form-control" id="license_number" name="license_number" type="text" placeholder="Enter your license number..."/>
                                <label for="license_number">License Number</label>
                            </div>
                            <br />
                            <!-- Submit Button-->
                            <button class="btn btn-primary text-uppercase" id="searchButton" type="submit">Search</button>
                        </form>

                        <% if(user){ %>
                            <div class="row gx-4 gx-lg-5 justify-content-center">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="post-preview">
                                        <h3 class="post-title mt-5">Driver Information</h3>
                                        <br />    
                                        <p class="post-meta">First Name: <%= user.firstName %></p>
                                        <p class="post-meta">Last Name: <%= user.lastName %></p>
                                        <p class="post-meta">License Number: <%= user.license %></p>
                                        <p class="post-meta">Age: <%= user.age %></p>
                                        <p class="post-meta">Date of Birth: <%= user.dob.toDateString() %></p>
                                    </div>
                                </div>
                            </div>
                        <% } else if (isUser){ %>
                            <div class="alert alert-danger mt-5">
                                Sorry! User Not Found!!!
                            </div>
                            <p class="mt-4">You can go to G2 page to add user:</p>
                            <a href="/g2" class="btn btn-success text-uppercase">G2 Page -></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('layouts/footer') -%>
    <%- include('layouts/scripts') -%>
</body>
</html>